{{- $secretName := print (include "sso-keycloak.fullname" .) "-app-secrets" }}
{{- $secret := (lookup "v1" "Secret" .Release.Namespace $secretName ) }}
{{- $index := 1 }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels: {{ include "sso-keycloak.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if and $secret  ( not .Values.appSecrets.recreateCredentials ) }}
  PPID_API_TOKEN_URL: {{ index $secret.data (print "PPID_API_TOKEN_URL") }}
  PPID_API_URL: {{ index $secret.data (print "PPID_API_URL") }}
  PPID_CLIENT_ID: {{ index $secret.data (print "PPID_CLIENT_ID") }}
  PPID_CLIENT_SECRET: {{ index $secret.data (print "PPID_CLIENT_SECRET") }}
  PPID_OTP_ISSUER: {{ index $secret.data (print "PPID_OTP_ISSUER") }}
  RBA_CLIENT_ID: {{ index $secret.data (print "RBA_CLIENT_ID") }}
  RBA_CLIENT_SECRET: {{ index $secret.data (print "RBA_CLIENT_SECRET") }}
  RBA_API_URL: {{ index $secret.data (print "RBA_API_URL") }}
  RBA_TOKEN_URL: {{ index $secret.data (print "RBA_TOKEN_URL") }}
  {{- else }}
  PPID_API_TOKEN_URL: {{ default "update me" .Values.appSecrets.ppidTokenUrl | b64enc }}
  PPID_API_URL: {{ default "update me" .Values.appSecrets.ppidApiUrl | b64enc }}
  PPID_CLIENT_ID: {{ default "update me" .Values.appSecrets.ppidClientID | b64enc }}
  PPID_CLIENT_SECRET: {{ default "update me" .Values.appSecrets.ppidClientSecret | b64enc }}
  PPID_OTP_ISSUER: {{ default "update me" .Values.appSecrets.ppidIssuer | b64enc }}
  RBA_CLIENT_ID: {{ default "update me" .Values.appSecrets.rbaClientID | b64enc }}
  RBA_CLIENT_SECRET: {{ default "update me" .Values.appSecrets.rbaClientSecret | b64enc }}
  RBA_API_URL: {{ default "update me" .Values.appSecrets.rbaApiUrl | b64enc }}
  RBA_TOKEN_URL: {{ default "update me" .Values.appSecrets.rbaTokenUrl | b64enc }}
  {{- end }}
